/*--------------------Menu Bar-------------------------------*/ 
.bar{
    float: none;
}

.bar > ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: large; 
}

@media (min-width: 992px){
    .bar > ul > li{
        display: inline-block;
        margin-left: 25px;
        margin-right: 25px;
        padding-top: 25px;
        padding-bottom: 700px;
    }
}

@media (max-width: 992px){
    .bar > ul > li{
        display: inline-block;
        margin-left: 25px;
        margin-right: 25px;
        padding-top: 25px;
    }
}


.bar > ul > li> a{
    color: darkgreen;
    text-decoration: none;
    text-transform: uppercase;
}

.bar > ul > li > a:hover{
    color: red ;
}


/*--------------------Header-------------------------------*/ 

@media (min-width: 992px){
    header{
        background-image: url(../images/Greenday2010.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
}

@media (max-width: 992px){
    header{
        background-image: url(../images/Greenday2010-banner.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
}

html{
    overflow-x: hidden;
}


/*--------------------BODY-------------------------------*/ 

body{
    padding-top: 20px;
    background-color: black;
    overflow-y: visible;
    overflow-x: hidden;
    color: darkgreen;
}

.backgrnd{
    margin-top: -20px;
}

/*--------------------ABOUT THE BAND-------------------------------*/ 

.atb{
    text-align: center;
    padding-bottom: 15px;
}

@media (min-width: 992px){
    .about{
        font-size: medium;
        font-style: italic;
        color: darkgreen;
        margin-top: 40px;
        margin-left: -70px;
    }
}

@media (max-width: 992px){
    .about{
        font-size: medium;
        font-style: italic;
        color: darkgreen;
        margin-top: 40px;
        margin-left: 12px;
    }
}

.aboutgd{
    margin-top: 30px;
}

@media (min-width: 992px){
    .aboutimg{
        margin-left: 100px;
    }
}

@media (max-width: 992px){
    .aboutimg{
        margin-left: -5px;
    }
}

/*--------------------CONTAINERS-------------------------------*/ 

.contain{
    position: relative;
    width: 100%;
    padding-bottom: 25%;
}

.container-fluid{
    padding-bottom: 0%;
}

/*--------------------LATEST REALESE-------------------------------*/ 

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline-color: red;
}

.vidtxt{
    text-align: center;
    padding-bottom: 15px;
    padding-top: 100px;
}

.video{
    outline-color: red;
}

.directiontext{
    text-align: center;
    font-size: small;
}

/*--------------------ABOUT THE MEMBERS-------------------------------*/ 


.bja{
    text-align: center; 
}

.md{
    text-align: center;
    color: red;
}
    
.tc{
    text-align: center;
}

.trec{
    padding-bottom: 25px;
}

.miked{
    padding-bottom: 25px;
}

.bj{
    padding-bottom: 25px;
}


.profiles{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: large;
    font-style: italic;
}

/*--------------------TOURS-------------------------------*/ 

.tours{
    padding-top: 70px;
}


.tourdates{
    text-align: center;
    padding-bottom: 50px;
    font-size: x-large;
}

.tourstitle{
    padding-bottom: 15px;
}

.socialtite{
    padding-bottom: 15px;
}

.redtext{
    color: red;

}

/*--------------------SOCIAL MEDIA DESKTOP-------------------------------*/ 


.socialmedia{
    text-align: center;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}


.twitter {
    background: #55ACEE;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

/*--------------------SOCIAL MEDIA MOBILE-------------------------------*/ 

.socialmedia{
    text-align: center;
}



.icon-bar2 a {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar2 a:hover {
    background-color: #000;
}

.facebook2 {
    background: #3B5998;
    color: white;
    padding-top: 5px;
}


.twitter2 {
    background: #55ACEE;
    color: white;
}

.youtube2 {
    background: #bb0000;
    color: white;
}





/*--------------------FOOTER-------------------------------*/ 

@media (max-width: 992px){
    .bar2 > ul{
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: small; 
    margin-left: 11px;
    padding-bottom: 15px;
    }
}

@media (min-width: 992px){
    .bar2 > ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: small; 
    margin-left: 130px;
    }
}

.bar2 > ul > li{
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 50px;
}

.bar2 > ul > li> a{
    color: darkgreen;
    text-decoration: none;
    text-transform: uppercase;
}

.bar2 > ul > li > a:hover{
    color: red ;
}

@media (max-width: 992px){
    .sndcld{
        margin-left: 15px;
        
    }
}

footer {
   left:0px;
   bottom:0px;
   height:120px;
   width:100%;
   background:black;
}






























